* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(113,17,82,255);
    color: white;
}

#containerWeb {
    padding: 10px;
}

.title {
    font-size: 35px;
    text-align: center;
    margin: 20px;
}

#startText {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

#grupoBotones {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

#grupoBotones > button {
    border-radius: 8px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#grupoBotones > button:hover {
    background-color: rgb(170, 12, 117);
    padding: 5px;
}

#grupoBotones > button > img {
    width: 100%;
}

#resultado {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#resultado > img {
    width: 30%;
}

.resultadoImg {
    background-color: rgb(97, 14, 70);
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h4 {
    margin-bottom: 5px;
}