#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.claseNueva {
    color: red;
}

.rojo {
    background-color: red;
}

.card {
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.card img {
    width: 200px;
    height: 200px;
}